<!DOCTYPE html>
<html lang="en">
<head>
     <%- include("../partial/meta.ejs")%>
    <title><%= title%></title>
</head>
<body>
    <h1>hi i am a index file</h1>
    <!-- Download functionalty add krny ka triqa  -->
    <a href="/download">clik me for download</a>
    <%- include("../partial/data.ejs")%>
</body>
</html>